@import "../../styles/_variants.scss";
@import "../../styles/_mixins.scss";

.Home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-image: url("../../assets/nasa-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Home-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home-title {
  margin: 0;
  margin-bottom: 10px;
  position: absolute;
  top: 50px;
  font-size: rem(24px);
  line-height: 1;
  color: #fff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 3);

  @include from-medium {
    font-size: rem(28px);
  }
}

.Home-content {
  @include wrapper(460px);
  width: 100%;
  text-align: center;
}
